@use "./variables" as *;

@mixin tablet {
	@media (min-width: $tablet-width) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-width) {
		@content;
	}
}

@mixin avatar($src) {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-image: url($src);
	background-size: cover;
	flex-shrink: 0;

	@include tablet {
		width: 48px;
		height: 48px;
	}
}

@mixin divider {
	height: 1px;
	background-color: $secondary-mid;
}

@mixin wordmark {
	margin: 16px;

	@include tablet {
		margin-left: 24px;
	}

	@include desktop {
		margin-left: 80px;
	}
}

@mixin button {
	@extend .vertical-margin;
	@extend .labels-and-buttons;
	background-color: $primary-dark;
	color: $primary-light;
	height: 40px;
	width: 100%;
	border-radius: 4px;

	@include tablet {
		width: 25%;
	}
}
