@use "./variables" as *;

@mixin tablet {
	@media (min-width: $tablet-width) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-width) {
		@content;
	}
}

@mixin avatar($src) {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-image: url($src);
	background-size: cover;
	flex-shrink: 0;

	@include tablet {
		width: 48px;
		height: 48px;
	}
}
