@use "./partials/global" as *;
@use "./partials/text-styles" as *;
@use "./partials/nav-bar-styles" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.hero__header,
.bio__header,
.footer-bar__header,
.footer-contact-info__header,
.footer-contact-info__copy,
.footer-copyright {
	color: $primary-light;
}

.bio__header,
.bio__caption,
.bio__subheader,
.bio__copy,
.photo-gallery__header,
.comments__header,
.comment-form__field::placeholder,
.comment-form__field--comment::placeholder {
	color: $primary-dark;
}

.bio__header,
.photo-gallery__header,
.comments__header {
	@extend .section-header;
}

.hero {
	position: relative;
	display: flex;
	align-items: center;

	&__image {
		width: 100%;

		&--overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(50, 50, 50, 0.5);
		}
	}

	&__header {
		@extend .page-header, .side-padding;
		position: absolute;
		left: 0;
	}
}

.bio {
	@extend .side-padding;
	background-color: $primary-light;

	&__container {
		@include tablet {
			padding: 0 56px;
		}

		@include desktop {
			padding: 0 80px;
		}
	}

	&__image {
		width: 100%;
	}

	&__caption {
		@extend .body-copy--bold;
		font-size: 0.97rem;
		line-height: 1.4rem;
		padding: 16px 0;

		@include tablet {
			font-size: 1.39rem;
			line-height: 1.8rem;
		}

		@include desktop {
			font-size: 1.5rem;
			width: 77%;
		}

		&--credit {
			font-size: 0.97rem;
			font-weight: 500;
			padding: 0;
		}
	}

	&__subheader {
		@extend .subheader;
	}

	&__copy-container {
		@include tablet {
			display: flex;
		}
	}

	&__copy {
		@extend .body-copy;

		@include tablet {
			padding-right: 24px;
		}

		@include desktop {
			padding-right: 80px;
		}
	}
}

.photo-gallery {
	@extend .side-padding;
	background-color: $secondary-light;

	&__container {
		display: flex;
		flex-direction: column;

		@include tablet {
			flex-flow: row wrap;
			justify-content: space-between;
			padding-bottom: 20px;
		}
	}

	&__image {
		@extend .vertical-margin;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
		}

		@include tablet {
			width: 30%;
			margin-bottom: 24px;
		}

		@include desktop {
			width: 32%;
			margin-bottom: 24px;
		}
	}
}

.comments {
	@extend .side-padding;

	&__divider {
		height: 1px;
		background-color: $secondary-mid;
		margin-bottom: 16px;
	}
}

.add-comment {
	display: flex;

	&__avatar {
		@include avatar("/assets/images/Mohan-muruge.jpg");
		margin: 26px 12px 0 0;
	}
}

.comment-form {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__label {
		@extend .labels-and-buttons;
		color: $primary-mid;
		margin-bottom: 4px;
	}

	&__field {
		border-radius: 4px;
		border: $secondary-mid 1px solid;
		padding: 12px;
		margin-bottom: 16px;

		@include tablet {
			padding: 16px;
		}

		&--comment {
			@extend .comment-form__field;
			height: 96px;
			position: relative;

			&::placeholder {
				position: absolute;
				top: 16px;
				left: 16px;
			}
		}
	}

	&__button {
		@extend .button;
	}
}

.comment-card {
	display: flex;

	&__container {
		width: 100%;
	}

	&__avatar {
		@extend .add-comment__avatar;
		margin-top: 0;

		&--blank {
			background-image: url("");
			background-color: $secondary-mid;
		}
	}

	&__metadata {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4px;
	}

	&__name,
	&__timestamp {
		@extend .subheader;
		padding: 0;
	}

	&__timestamp {
		font-weight: 400;
		color: $primary-mid;
	}

	&__content {
		@extend .body-copy;
	}
}

.footer {
	&-bar {
		@extend .side-padding;
		position: relative;
		background-color: $primary-dark;

		&__header {
			@extend .section-header;
			padding-right: 24px;

			@include tablet {
				padding-bottom: 0;
			}
		}
	}

	&-header-container {
		@include tablet {
			display: flex;
			align-items: flex-end;
			margin-bottom: 2rem;
		}
	}

	&-social {
		display: flex;
		justify-content: flex-start;
		width: 30%;
		@extend .component-padding;

		@include tablet {
			padding: 0 0 0 16px;
		}

		@include desktop {
			padding: 0 0 0 87px;
		}

		&__link {
			margin-right: 32px;
		}
	}

	&-contact-info {
		@include tablet {
			display: flex;
			justify-content: space-between;
		}

		@include desktop {
			width: 75%;
		}

		&__header {
			@extend .footer-copy--bold;
		}

		&__copy {
			@extend .footer-copy;
		}
	}

	&-copyright {
		@include tablet {
			padding-top: 8px;
		}
	}

	&-wordmark {
		@extend .wordmark;
		margin-bottom: 16px;

		@include tablet {
			position: absolute;
			top: 16px;
			right: 36px;
		}

		@include desktop {
			right: 80px;
		}
	}
}
