@use "./partials/global" as *;
@use "./partials/text-styles" as *;
@use "./partials/nav-bar-styles" as *;
@use "./partials/hero-styles" as *;
@use "./partials/footer-bar-styles" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/animations" as *;

.bio__header {
	color: $primary-light;
}

.bio__header,
.bio__caption,
.bio__subheader,
.bio__copy,
.photo-gallery__header,
.comments__header,
.comment-form__field::placeholder,
.comment-form__field--comment::placeholder {
	color: $primary-dark;
}

.bio__header,
.photo-gallery__header,
.comments__header {
	@extend .section-header;
}

.bio {
	@extend .side-padding;
	background-color: $primary-light;

	&__container {
		@include tablet {
			padding: 0 56px;
		}

		@include desktop {
			padding: 0 5rem;
		}
	}

	&__image {
		width: 100%;
	}

	&__caption {
		@extend .body-copy--bold;
		font-size: 0.97rem;
		line-height: 1.4rem;
		padding: 1rem 0;

		@include tablet {
			font-size: 1.39rem;
			line-height: 1.8rem;
		}

		@include desktop {
			font-size: 1.5rem;
			width: 77%;
		}

		&--credit {
			font-size: 0.97rem;
			font-weight: 500;
			padding: 0;
		}
	}

	&__subheader {
		@extend .subheader;
	}

	&__copy-container {
		@include tablet {
			display: flex;
		}
	}

	&__copy {
		@extend .body-copy;

		@include tablet {
			padding-right: 1.5rem;
		}

		@include desktop {
			padding-right: 5rem;
		}
	}
}

.photo-gallery {
	@extend .side-padding;
	background-color: $secondary-light;

	&__container {
		display: flex;
		flex-direction: column;

		@include tablet {
			flex-flow: row wrap;
			justify-content: space-between;
			padding-bottom: 1.25rem;
		}
	}

	&__image {
		@extend .vertical-margin;
		filter: grayscale(1);

		&:hover {
			animation: filter-change 1.5s;
			filter: grayscale(0);
		}

		@include tablet {
			width: 30%;
			margin-bottom: 24px;
		}

		@include desktop {
			width: 32%;
			margin-bottom: 24px;
		}
	}
}

.comments {
	@extend .side-padding;

	&__divider {
		@include divider;
	}

	&__feed {
		@include tablet {
			margin: 0 48px;
		}

		@include desktop {
			margin: 0 260px;
		}
	}
}

.add-comment {
	display: flex;
	@extend .comments__feed;

	&__avatar {
		@include avatar("/assets/images/Mohan-muruge.jpg");
		margin: 26px 12px 0 0;
	}
}

.comment-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: flex-end;

	&__label {
		@extend .labels-and-buttons;
		color: $primary-mid;
		margin-bottom: 4px;
		width: 100%;
	}

	&__field {
		border-radius: 4px;
		border: $secondary-mid 1px solid;
		padding: 0.75rem;
		min-height: 36px;
		margin-bottom: 16px;
		width: 100%;

		@include tablet {
			padding: 1rem;
			min-height: 48px;
		}

		&:focus {
			border-color: $primary-dark;
		}

		&--error {
			border-color: $error-red !important;
		}

		&--comment {
			padding-bottom: 4rem;
			resize: none;
		}
	}

	&__button {
		@include button;
		margin-bottom: 16px;
	}
}

.comment-card {
	display: flex;

	&__container {
		flex: 1;
	}

	&__avatar {
		@extend .add-comment__avatar;
		margin-top: 0;

		&--blank {
			background-image: url("");
			background-color: $secondary-mid;
		}
	}

	&__metadata {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4px;
	}

	&__name,
	&__timestamp {
		@extend .body-copy;
		font-weight: 600;
		padding: 0;
	}

	&__timestamp {
		font-weight: 400;
		color: $primary-mid;
	}

	&__content {
		@extend .body-copy;
	}
}
