@use "./partials/global" as *;
@use "./partials/text-styles" as *;
@use "./partials/nav-bar-styles" as *;

.footer-bar {
   background-color: $primary-dark;
}

.hero__header, .footer-bar__header, .footer-contact-info__header, .footer-contact-info__copy {
    color: $primary-light;
}

.hero__header, .bio__header {
    @extend .page-header;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;

    &__image {
        width: 100%;
    
        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(50, 50, 50, .5);
        }
    }

    &__header {
        position: absolute;
        left: 1rem;
    }
}

.bio {
    @extend .side-padding;
    background-color: $primary-light;

    &__image {
        @extend .vertical-margin;
        width: 100%;
    }

    &__caption {
        @extend .body-copy--bold;
    }

    &__subheader {
        @extend .subheader;
    }

    &__copy {
        @extend .body-copy;
    }
}

.bio__header, .bio__caption, .bio__subheader, .bio__copy {
    color: $primary-dark;
}

.photo-gallery {
    @extend .side-padding;
    display: flex;
    flex-direction: column;
    background-color: $secondary-light;

    &__header {
        @extend .section-header;
    }

    &__image {
        @extend .vertical-margin;
        width: 100%;
    }
}

.footer {
    &-bar {
        @extend .side-padding;
    
        &__header {
            @extend .section-header;
        }
    }

    &-social {
        display: flex;
        width: 35%;
        justify-content: space-between;
        @extend .component-padding;
    }

    &-contact-info {
        &__header {
            @extend .footer-copy--bold;
        }
    
        &__copy {
            @extend .footer-copy;
        } 
    }

    &-wordmark {
        @extend .wordmark;
        @extend .header-padding;
    }
}






