.check {
  border: 2px red dashed;
}

@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf) format(".otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf) format(".otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf) format(".otf");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Avenir";
}

.side-padding, .bio, .photo-gallery, .comments, .footer-bar, .hero__container {
  padding: 0 1rem;
}

.vertical-margin, .photo-gallery__image, .comment-form__button {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .side-padding, .bio, .photo-gallery, .comments, .footer-bar, .hero__container {
    padding: 0 2.25rem;
  }
  .vertical-margin, .photo-gallery__image, .comment-form__button {
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .side-padding, .bio, .photo-gallery, .comments, .footer-bar, .hero__container {
    padding: 0 5rem;
  }
  .vertical-margin, .photo-gallery__image, .comment-form__button {
    margin-bottom: 2.25rem;
  }
}
.header-padding, .subheader, .bio__subheader, .comment-card__name, .comment-card__timestamp, .hero__subheader, .navigation-copy, .nav-bar-list__link, .section-header, .bio__header,
.photo-gallery__header,
.comments__header, .footer-bar__header, .page-header, .hero__header {
  padding-top: 24px;
  padding-bottom: 16px;
}

.component-padding, .footer-social, .body-copy, .bio__copy, .comment-card__content, .footer-copy, .footer-contact-info__copy, .footer-copy--bold, .footer-contact-info__header,
.footer-copyright--bold,
.footer-copyright, .body-copy--bold, .bio__caption {
  padding-bottom: 16px;
}

.page-header, .hero__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.section-header, .bio__header,
.photo-gallery__header,
.comments__header, .footer-bar__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.subheader, .bio__subheader, .comment-card__name, .comment-card__timestamp, .hero__subheader, .navigation-copy, .nav-bar-list__link {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.navigation-copy, .nav-bar-list__link {
  padding: 0 0 8px;
}

.body-copy, .bio__copy, .comment-card__content, .footer-copy, .footer-contact-info__copy, .footer-copy--bold, .footer-contact-info__header,
.footer-copyright--bold,
.footer-copyright, .body-copy--bold, .bio__caption {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.body-copy--bold, .bio__caption {
  font-weight: 700;
}

.footer-copy--bold, .footer-contact-info__header,
.footer-copyright--bold {
  font-weight: 700;
}

.footer-copyright {
  font-size: 0.7rem;
}

.labels-and-buttons, .comment-form__label, .comment-form__button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .header-padding, .page-header, .hero__header, .section-header, .bio__header,
  .photo-gallery__header,
  .comments__header, .footer-bar__header, .subheader, .bio__subheader, .comment-card__name, .comment-card__timestamp, .hero__subheader, .navigation-copy, .nav-bar-list__link {
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .component-padding, .footer-social, .body-copy, .bio__copy, .comment-card__content, .body-copy--bold, .bio__caption, .footer-copy, .footer-contact-info__copy,
  .footer-copyright, .footer-copy--bold, .footer-contact-info__header,
  .footer-copyright--bold {
    padding-bottom: 36px;
  }
  .page-header, .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .section-header, .bio__header,
  .photo-gallery__header,
  .comments__header, .footer-bar__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .subheader, .bio__subheader, .comment-card__name, .comment-card__timestamp, .hero__subheader, .navigation-copy, .nav-bar-list__link {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .navigation-copy, .nav-bar-list__link {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 16px 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .navigation-copy, .nav-bar-list__link {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .navigation-copy--bold {
    font-weight: 700;
  }
  .body-copy, .bio__copy, .comment-card__content, .body-copy--bold, .bio__caption, .footer-copy, .footer-contact-info__copy,
  .footer-copyright, .footer-copy--bold, .footer-contact-info__header,
  .footer-copyright--bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .body-copy--bold, .bio__caption {
    font-weight: 700;
  }
  .footer-copy, .footer-contact-info__copy, .footer-copy--bold, .footer-contact-info__header,
  .footer-copyright--bold,
  .footer-copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .footer-copy--bold, .footer-contact-info__header,
  .footer-copyright--bold {
    font-weight: 700;
  }
  .labels-and-buttons, .comment-form__label, .comment-form__button {
    font-size: 0.75rem;
  }
}
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    align-items: flex-end;
  }
}
.nav-bar__wordmark {
  margin: 16px;
}
@media (min-width: 768px) {
  .nav-bar__wordmark {
    margin-left: 24px;
  }
}
@media (min-width: 1280px) {
  .nav-bar__wordmark {
    margin-left: 80px;
  }
}
.nav-bar-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .nav-bar-list {
    width: auto;
  }
}
.nav-bar-list__item {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .nav-bar-list__item {
    margin: 0 16px;
  }
}
.nav-bar-list__link {
  color: #ffffff;
  font-weight: 400;
  display: block;
  height: 100%;
}
.nav-bar-list__link--active, .nav-bar-list__link:hover {
  border-bottom: 3px #ffffff solid;
  font-weight: 700;
}
.nav-bar-list__link:hover {
  font-weight: 500;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
}
.hero__image {
  width: 100%;
}
.hero__image--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
}
.hero__subheader {
  padding: 0;
  font-weight: 400;
  color: #ffffff;
}
.hero__header {
  color: #ffffff;
}
.hero__song {
  width: 100%;
  height: 100px;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .hero__song {
    width: 60%;
  }
}

.footer-bar__header,
.footer-contact-info__header,
.footer-contact-info__copy,
.footer-copyright {
  color: #ffffff;
}

.footer-bar {
  position: relative;
  background-color: #323232;
}
.footer-bar__header {
  padding-right: 24px;
}
@media (min-width: 768px) {
  .footer-bar__header {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .footer-header-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
  }
}
.footer-social {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}
@media (min-width: 768px) {
  .footer-social {
    padding: 0 0 0 16px;
  }
}
@media (min-width: 1280px) {
  .footer-social {
    padding: 0 0 0 87px;
  }
}
.footer-social__link {
  margin-right: 32px;
}
@media (min-width: 768px) {
  .footer-contact-info {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer-contact-info {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .footer-copyright {
    padding-top: 8px;
  }
}

@keyframes filter-change {
  from {
    filter: grayscale(1);
  }
  to {
    filter: grayscale(0);
  }
}
.bio__header {
  color: #ffffff;
}

.comment-form__field::-moz-placeholder, .comment-form__field--comment::-moz-placeholder {
  color: #323232;
}

.bio__header,
.bio__caption,
.bio__subheader,
.bio__copy,
.photo-gallery__header,
.comments__header,
.comment-form__field::placeholder,
.comment-form__field--comment::placeholder {
  color: #323232;
}

.bio {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .bio__container {
    padding: 0 56px;
  }
}
@media (min-width: 1280px) {
  .bio__container {
    padding: 0 80px;
  }
}
.bio__image {
  width: 100%;
}
.bio__caption {
  font-size: 0.97rem;
  line-height: 1.4rem;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .bio__caption {
    font-size: 1.39rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 1280px) {
  .bio__caption {
    font-size: 1.5rem;
    width: 77%;
  }
}
.bio__caption--credit {
  font-size: 0.97rem;
  font-weight: 500;
  padding: 0;
}
@media (min-width: 768px) {
  .bio__copy-container {
    display: flex;
  }
}
@media (min-width: 768px) {
  .bio__copy {
    padding-right: 24px;
  }
}
@media (min-width: 1280px) {
  .bio__copy {
    padding-right: 80px;
  }
}

.photo-gallery {
  background-color: #fafafa;
}
.photo-gallery__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .photo-gallery__container {
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 20px;
  }
}
.photo-gallery__image {
  filter: grayscale(1);
}
.photo-gallery__image:hover {
  animation: filter-change 1.5s;
  filter: grayscale(0);
}
@media (min-width: 768px) {
  .photo-gallery__image {
    width: 30%;
    margin-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__image {
    width: 32%;
    margin-bottom: 24px;
  }
}

.comments__divider {
  height: 1px;
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .comments__feed, .add-comment {
    margin: 0 48px;
  }
}
@media (min-width: 1280px) {
  .comments__feed, .add-comment {
    margin: 0 260px;
  }
}

.add-comment {
  display: flex;
}
.add-comment__avatar, .comment-card__avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-image: url("/assets/images/Mohan-muruge.jpg");
  background-size: cover;
  flex-shrink: 0;
  margin: 26px 12px 0 0;
}
@media (min-width: 768px) {
  .add-comment__avatar, .comment-card__avatar {
    width: 48px;
    height: 48px;
  }
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
.comment-form__label {
  color: #afafaf;
  margin-bottom: 4px;
  width: 100%;
}
.comment-form__field, .comment-form__field--comment {
  border-radius: 4px;
  border: #e1e1e1 1px solid;
  padding: 12px;
  min-height: 36px;
  margin-bottom: 16px;
  width: 100%;
}
@media (min-width: 768px) {
  .comment-form__field, .comment-form__field--comment {
    padding: 16px;
    min-height: 48px;
  }
}
.comment-form__field:focus, .comment-form__field--comment:focus {
  border-color: #323232;
}
.comment-form__field--error {
  border-color: #d22d2d;
}
.comment-form__field--comment {
  padding-bottom: 64px;
  resize: none;
}
.comment-form__button {
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .comment-form__button {
    width: 25%;
  }
}

.comment-card {
  display: flex;
  width: 100%;
}
.comment-card__container {
  flex: 1;
}
.comment-card__avatar {
  margin-top: 0;
}
.comment-card__avatar--blank {
  background-image: url("");
  background-color: #e1e1e1;
}
.comment-card__metadata {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.comment-card__name, .comment-card__timestamp {
  padding: 0;
}
.comment-card__timestamp {
  font-weight: 400;
  color: #afafaf;
}/*# sourceMappingURL=bio.css.map */