@use "./partials/global" as *;
@use "./partials/text-styles" as *;
@use "./partials/nav-bar-styles" as *;
@use "./partials/hero-styles" as *;
@use "./partials/footer-bar-styles" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.shows {
	background-color: $primary-light;

	@include tablet {
		padding: 0 1rem;
	}

	@include desktop {
		padding: 3rem 5rem;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__header {
		@extend .side-padding;
		@extend .section-header;
		color: $primary-dark;

		@include tablet {
			padding-left: 16px;
		}

		@include desktop {
			padding: 0;
		}
	}

	&__container {
		flex-basis: 75%;
	}

	&__divider {
		@include divider;
	}
}

.show-card {
	@extend .side-padding;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transition: background-color, 0.5s;

	@include tablet {
		padding: 16px;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	&:hover {
		background-color: $secondary-light;
	}

	&--selected {
		background-color: $secondary-mid !important;
	}

	&__labels {
		display: flex;
		padding: 0 16px;
	}

	&-date,
	&-venue,
	&-location {
		@include tablet {
			flex-basis: 25%;
		}

		&__label {
			@extend .labels-and-buttons;
			color: $primary-mid;

			@include tablet {
				display: none;
			}

			&--first {
				display: none;

				@include tablet {
					display: inline;
					flex-basis: 25%;
				}
			}
		}

		&__content {
			@extend .body-copy;

			@include tablet {
				padding: 0;
			}
		}
	}

	&-date__content {
		font-weight: 600;
	}

	&__button {
		@include button;

		@include tablet {
			margin-bottom: 0;
		}
	}
}
