.check {
  border: 2px red dashed;
}

@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf) format(".otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Demi.otf) format(".otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf) format(".otf");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Avenir";
}

.side-padding, .shows__header, .show-card, .footer-bar, .hero__container {
  padding: 0 1rem;
}

.vertical-margin, .button, .show-card__button {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .side-padding, .shows__header, .show-card, .footer-bar, .hero__container {
    padding: 0 2.25rem;
  }
  .vertical-margin, .button, .show-card__button {
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .side-padding, .shows__header, .show-card, .footer-bar, .hero__container {
    padding: 0 5rem;
  }
  .vertical-margin, .button, .show-card__button {
    margin-bottom: 2.25rem;
  }
}
.header-padding, .subheader, .hero__subheader, .navigation-copy, .nav-bar-list__link, .section-header, .shows__header, .footer-bar__header, .page-header, .hero__header, .wordmark, .footer-wordmark, .nav-bar__wordmark {
  padding-top: 24px;
  padding-bottom: 16px;
}

.component-padding, .footer-social, .body-copy, .show-card-date__content, .show-card-venue__content, .show-card-location__content, .footer-copy, .footer-contact-info__copy, .footer-copy--bold, .footer-contact-info__header,
.footer-copyright--bold,
.footer-copyright, .body-copy--bold {
  padding-bottom: 16px;
}

.page-header, .hero__header, .wordmark, .footer-wordmark, .nav-bar__wordmark {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.section-header, .shows__header, .footer-bar__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.subheader, .hero__subheader, .navigation-copy, .nav-bar-list__link {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.navigation-copy, .nav-bar-list__link {
  padding: 0 0 8px;
}

.body-copy, .show-card-date__content, .show-card-venue__content, .show-card-location__content, .footer-copy, .footer-contact-info__copy, .footer-copy--bold, .footer-contact-info__header,
.footer-copyright--bold,
.footer-copyright, .body-copy--bold {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.body-copy--bold {
  font-weight: 700;
}

.footer-copy--bold, .footer-contact-info__header,
.footer-copyright--bold {
  font-weight: 700;
}

.footer-copyright {
  font-size: 0.7rem;
}

.labels-and-buttons, .show-card-date__label, .show-card-venue__label, .show-card-location__label, .button, .show-card__button {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.wordmark, .footer-wordmark, .nav-bar__wordmark {
  padding: 0;
  font-weight: 400;
  color: #ffffff;
  margin: 36px 0;
}

@media (min-width: 768px) {
  .header-padding, .page-header, .hero__header, .section-header, .shows__header, .footer-bar__header, .subheader, .hero__subheader, .navigation-copy, .nav-bar-list__link, .wordmark, .footer-wordmark, .nav-bar__wordmark {
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .component-padding, .footer-social, .body-copy, .show-card-date__content, .show-card-venue__content, .show-card-location__content, .body-copy--bold, .footer-copy, .footer-contact-info__copy,
  .footer-copyright, .footer-copy--bold, .footer-contact-info__header,
  .footer-copyright--bold {
    padding-bottom: 36px;
  }
  .page-header, .hero__header, .wordmark, .footer-wordmark, .nav-bar__wordmark {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .section-header, .shows__header, .footer-bar__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .subheader, .hero__subheader, .navigation-copy, .nav-bar-list__link {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .navigation-copy, .nav-bar-list__link {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    padding: 16px 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .navigation-copy, .nav-bar-list__link {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .navigation-copy--bold {
    font-weight: 700;
  }
  .body-copy, .show-card-date__content, .show-card-venue__content, .show-card-location__content, .body-copy--bold, .footer-copy, .footer-contact-info__copy,
  .footer-copyright, .footer-copy--bold, .footer-contact-info__header,
  .footer-copyright--bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .body-copy--bold {
    font-weight: 700;
  }
  .footer-copy, .footer-contact-info__copy, .footer-copy--bold, .footer-contact-info__header,
  .footer-copyright--bold,
  .footer-copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .footer-copy--bold, .footer-contact-info__header,
  .footer-copyright--bold {
    font-weight: 700;
  }
  .labels-and-buttons, .show-card-date__label, .show-card-venue__label, .show-card-location__label, .button, .show-card__button {
    font-size: 0.75rem;
  }
  .wordmark, .footer-wordmark, .nav-bar__wordmark {
    font-size: 1.25rem;
    padding: 0;
  }
}
.button, .show-card__button {
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  width: 100%;
  border-radius: 4px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
    align-items: flex-end;
  }
}
.nav-bar__wordmark {
  margin: 16px;
}
@media (min-width: 768px) {
  .nav-bar__wordmark {
    margin-bottom: 0;
    margin-left: 20px;
  }
}
@media (min-width: 1280px) {
  .nav-bar__wordmark {
    margin-left: 80px;
  }
}
.nav-bar-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 768px) {
  .nav-bar-list {
    width: auto;
  }
}
.nav-bar-list__item {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .nav-bar-list__item {
    margin: 0 16px;
  }
}
.nav-bar-list__link {
  color: #ffffff;
  font-weight: 400;
  display: block;
  height: 100%;
}
.nav-bar-list__link--active, .nav-bar-list__link:hover {
  border-bottom: 3px #ffffff solid;
  font-weight: 700;
}
.nav-bar-list__link:hover {
  font-weight: 500;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
}
.hero__image {
  width: 100%;
}
.hero__image--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
}
.hero__subheader {
  padding: 0;
  font-weight: 400;
  color: #ffffff;
}
.hero__header {
  color: #ffffff;
}
.hero__song {
  width: 100%;
  height: 100px;
  padding-bottom: 8px;
}

.footer-bar__header,
.footer-contact-info__header,
.footer-contact-info__copy,
.footer-copyright {
  color: #ffffff;
}

.footer-bar {
  position: relative;
  background-color: #323232;
}
.footer-bar__header {
  padding-right: 24px;
}
@media (min-width: 768px) {
  .footer-bar__header {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .footer-header-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
  }
}
.footer-social {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}
@media (min-width: 768px) {
  .footer-social {
    padding: 0 0 0 16px;
  }
}
@media (min-width: 1280px) {
  .footer-social {
    padding: 0 0 0 87px;
  }
}
.footer-social__link {
  margin-right: 32px;
}
@media (min-width: 768px) {
  .footer-contact-info {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer-contact-info {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .footer-copyright {
    padding-top: 8px;
  }
}
.footer-wordmark {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .footer-wordmark {
    position: absolute;
    top: 16px;
    right: 36px;
  }
}
@media (min-width: 1280px) {
  .footer-wordmark {
    right: 80px;
  }
}

.shows {
  background-color: #ffffff;
}
.shows__header {
  color: #323232;
}
.shows__divider {
  height: 1px;
  background-color: #e1e1e1;
  margin-bottom: 16px;
}

.show-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.show-card-date, .show-card-venue, .show-card-location {
  display: flex;
  flex-direction: column;
}
.show-card-date__label, .show-card-venue__label, .show-card-location__label {
  color: #e1e1e1;
}
.show-card-date__content {
  font-weight: 600;
}/*# sourceMappingURL=shows.css.map */